In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [3]:
blue= "BLUEMESARESERVOIR02-13-2023T11.21.41.csv"
flam= "FLAMINGGORGERESERVOIR02-13-2023T11.01.36.csv"
font= "FONTENELLERESERVOIR02-13-2023T11.22.17.csv"
lake= "LAKEPOWELL02-13-2023T11.05.37.csv"
morr= "MORROWPOINTRESERVOIR02-13-2023T11.20.16.csv"
nava= "NAVAJORESERVOIR02-13-2023T11.04.56.csv"
stra= "STRAWBERRYRESERVOIR(EXPANDED)02-13-2023T11.03.18.csv"

blue_df=pd.read_csv(blue)
flam_df=pd.read_csv(flam)
font_df=pd.read_csv(font)
lake_df=pd.read_csv(lake)
morr_df=pd.read_csv(morr)
nava_df=pd.read_csv(nava)
stra_df=pd.read_csv(stra)

In [5]:
dataframe_list = [blue_df,flam_df,font_df,lake_df,morr_df,nava_df,stra_df]
for dataframe in dataframe_list:
    dataframe.replace(" ", float("NaN"), inplace = True)
    dataframe.dropna(how='all',axis=1,inplace=True)

In [6]:
blue_df = blue_df.rename(columns={"Elevation (feet)":"Blue Mesa Elevation (feet)"})
flam_df = flam_df.rename(columns={"Elevation (feet)":"Flaming Gorge Elevation (feet)"})
font_df = font_df.rename(columns={"Elevation (feet)":"Fontenelle Elevation (feet)"})
lake_df = lake_df.rename(columns={"Elevation (feet)":"Lake Powell Elevation (feet)"})
morr_df = morr_df.rename(columns={"Elevation (feet)":"Morrow Point Elevation (feet)"})
nava_df = nava_df.rename(columns={"Elevation (feet)":"Navajo Elevation (feet)"})
stra_df = stra_df.rename(columns={"Elevation (feet)":"Strawberry Elevation (feet)"})

In [9]:
merged_reservoir_df = blue_df.merge(flam_df).merge(font_df).merge(lake_df).merge(morr_df).merge(nava_df).merge(stra_df)
merged_reservoir_df

,Date,Blue Mesa Elevation (feet),Flaming Gorge Elevation (feet),Fontenelle Elevation (feet),Lake Powell Elevation (feet),Morrow Point Elevation (feet),Navajo Elevation (feet),Strawberry Elevation (feet)
0,01-Oct-1990,7495.88,6022.46,6494.40,3637.39,7156.80,6063.07,7559.66
1,01-Nov-1990,7497.93,6022.57,6491.32,3636.24,7155.52,6063.69,7559.50
2,01-Dec-1990,7498.28,6022.03,6484.60,3633.48,7152.42,6062.97,7559.09
3,01-Jan-1991,7497.09,6022.01,6476.64,3630.71,7152.78,6062.10,7558.88
4,01-Feb-1991,7495.71,6022.34,6468.04,3629.00,7156.02,6061.90,7558.60
...,...,...,...,...,...,...,...,...
348,01-Oct-2019,7502.51,6031.13,6493.83,3612.99,7147.86,6061.08,7593.21
349,01-Nov-2019,7497.63,6030.99,6491.39,3611.23,7148.85,6060.04,7593.14
350,01-Dec-2019,7490.79,6029.43,6487.01,3608.74,7149.10,6058.25,7593.28
351,01-Jan-2020,7486.45,6028.03,6481.89,3605.48,7147.47,6056.81,7593.58
352,01-Feb-2020,7484.20,6026.75,6476.34,3602.72,7147.88,6055.76,7593.70

In [10]:
merged_reservoir_df.to_csv("MergedReservoirData_10-01-1990T02-01-2020.csv",
                  encoding="utf-8", index=False, header=True)